<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button id="login-kakao-btn" onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=e052ea4a19e01fe982cff4d6cfbaad37&redirect_uri=http://localhost:3000/user/kakao/callback&response_type=code'">
    카카오로 로그인하기
</button>
<button id="login-google-btn"
        onclick="location.href='https://accounts.google.com/o/oauth2/v2/auth?&' +
         'scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile&' +
          'access_type=offline&' +
           'redirect_uri=http://localhost:3000/user/google/callback&' +
            'response_type=code&' +
             'client_id=91963166155-tu2bdrh0ocskvg0rqasthm442tgnikmm.apps.googleusercontent.com'">
    구글로 로그인하기
</button>
</body>
</html>